{{page-title 'Wordle Ember Clone'}}

<div class='flex justify-center w-screen h-screen bg-zinc-800'>
  <div class='w-2/5 h-full flex flex-col items-center'>
    <header class='py-2 border-b-zinc-700 border-b w-full'>
      <h1 class='text-3xl font-bold uppercase text-white text-center'>
        Wordle
      </h1>
    </header>

    <div class='grid grid-rows-6 grid-cols-5 gap-2 my-5 w-3/5'>
      <div
        class='bg-yellow-500 text-white font-bold text-3xl aspect-square flex justify-center items-center'
      >
        G
      </div>
      <div
        class='bg-zinc-700 text-white font-bold text-3xl aspect-square flex justify-center items-center'
      >
        U
      </div>
      <div
        class='bg-zinc-700 text-white font-bold text-3xl aspect-square flex justify-center items-center'
      >
        E
      </div>
      <div
        class='bg-zinc-700 text-white font-bold text-3xl aspect-square flex justify-center items-center'
      >
        S
      </div>
      <div
        class='bg-green-600 text-white font-bold text-3xl aspect-square flex justify-center items-center'
      >
        S
      </div>
      <div
        class='bg-yellow-500 text-white font-bold text-3xl aspect-square flex justify-center items-center'
      >
        G
      </div>
      <div
        class='bg-zinc-700 text-white font-bold text-3xl aspect-square flex justify-center items-center'
      >
        U
      </div>
      <div
        class='bg-zinc-700 text-white font-bold text-3xl aspect-square flex justify-center items-center'
      >
        E
      </div>
      <div
        class='bg-zinc-700 text-white font-bold text-3xl aspect-square flex justify-center items-center'
      >
        S
      </div>
      <div
        class='bg-green-600 text-white font-bold text-3xl aspect-square flex justify-center items-center'
      >
        S
      </div>
      <div
        class='text-white font-bold text-3xl aspect-square flex justify-center items-center border-2 border-zinc-700'
      >
      </div>
      <div
        class='text-white font-bold text-3xl aspect-square flex justify-center items-center border-2 border-zinc-700'
      >
      </div>
      <div
        class='text-white font-bold text-3xl aspect-square flex justify-center items-center border-2 border-zinc-700'
      >
      </div>
      <div
        class='text-white font-bold text-3xl aspect-square flex justify-center items-center border-2 border-zinc-700'
      >
      </div>
      <div
        class='text-white font-bold text-3xl aspect-square flex justify-center items-center border-2 border-zinc-700'
      >
      </div>
      <div
        class='text-white font-bold text-3xl aspect-square flex justify-center items-center border-2 border-zinc-700'
      >
      </div>
      <div
        class='text-white font-bold text-3xl aspect-square flex justify-center items-center border-2 border-zinc-700'
      >
      </div>
      <div
        class='text-white font-bold text-3xl aspect-square flex justify-center items-center border-2 border-zinc-700'
      >
      </div>
      <div
        class='text-white font-bold text-3xl aspect-square flex justify-center items-center border-2 border-zinc-700'
      >
      </div>
      <div
        class='text-white font-bold text-3xl aspect-square flex justify-center items-center border-2 border-zinc-700'
      >
      </div>
      <div
        class='text-white font-bold text-3xl aspect-square flex justify-center items-center border-2 border-zinc-700'
      >
      </div>
      <div
        class='text-white font-bold text-3xl aspect-square flex justify-center items-center border-2 border-zinc-700'
      >
      </div>
      <div
        class='text-white font-bold text-3xl aspect-square flex justify-center items-center border-2 border-zinc-700'
      >
      </div>
      <div
        class='text-white font-bold text-3xl aspect-square flex justify-center items-center border-2 border-zinc-700'
      >
      </div>
      <div
        class='text-white font-bold text-3xl aspect-square flex justify-center items-center border-2 border-zinc-700'
      >
      </div>
      <div
        class='text-white font-bold text-3xl aspect-square flex justify-center items-center border-2 border-zinc-700'
      >
      </div>
      <div
        class='text-white font-bold text-3xl aspect-square flex justify-center items-center border-2 border-zinc-700'
      >
      </div>
      <div
        class='text-white font-bold text-3xl aspect-square flex justify-center items-center border-2 border-zinc-700'
      >
      </div>
      <div
        class='text-white font-bold text-3xl aspect-square flex justify-center items-center border-2 border-zinc-700'
      >
      </div>
      <div
        class='text-white font-bold text-3xl aspect-square flex justify-center items-center border-2 border-zinc-700'
      >
      </div>
    </div>

    <div class=''>
      <div class='flex justify-center mb-1'>
        <div
          class='bg-zinc-400 uppercase box-border text-l font-bold text-white w-10 flex justify-center items-center aspect-[4/5] rounded-md mx-0.5'
        >
          Q
        </div>
        <div
          class='bg-zinc-400 uppercase box-border text-l font-bold text-white w-10 flex justify-center items-center aspect-[4/5] rounded-md mx-0.5'
        >
          W
        </div>
        <div
          class='bg-zinc-700 uppercase box-border text-l font-bold text-white w-10 flex justify-center items-center aspect-[4/5] rounded-md mx-0.5'
        >
          E
        </div>
        <div
          class='bg-zinc-400 uppercase box-border text-l font-bold text-white w-10 flex justify-center items-center aspect-[4/5] rounded-md mx-0.5'
        >
          R
        </div>
        <div
          class='bg-zinc-400 uppercase box-border text-l font-bold text-white w-10 flex justify-center items-center aspect-[4/5] rounded-md mx-0.5'
        >
          T
        </div>
        <div
          class='bg-zinc-400 uppercase box-border text-l font-bold text-white w-10 flex justify-center items-center aspect-[4/5] rounded-md mx-0.5'
        >
          Y
        </div>
        <div
          class='bg-zinc-700 uppercase box-border text-l font-bold text-white w-10 flex justify-center items-center aspect-[4/5] rounded-md mx-0.5'
        >
          U
        </div>
        <div
          class='bg-zinc-400 uppercase box-border text-l font-bold text-white w-10 flex justify-center items-center aspect-[4/5] rounded-md mx-0.5'
        >
          I
        </div>
        <div
          class='bg-zinc-400 uppercase box-border text-l font-bold text-white w-10 flex justify-center items-center aspect-[4/5] rounded-md mx-0.5'
        >
          O
        </div>
        <div
          class='bg-zinc-400 uppercase box-border text-l font-bold text-white w-10 flex justify-center items-center aspect-[4/5] rounded-md mx-0.5'
        >
          P
        </div>
      </div>
      <div class='flex justify-center mb-1'>
        <div
          class='bg-zinc-400 uppercase box-border text-l font-bold text-white w-10 flex justify-center items-center aspect-[4/5] rounded-md mx-0.5'
        >
          A
        </div>
        <div
          class='bg-green-600 uppercase box-border text-l font-bold text-white w-10 flex justify-center items-center aspect-[4/5] rounded-md mx-0.5'
        >
          S
        </div>
        <div
          class='bg-zinc-400 uppercase box-border text-l font-bold text-white w-10 flex justify-center items-center aspect-[4/5] rounded-md mx-0.5'
        >
          D
        </div>
        <div
          class='bg-zinc-400 uppercase box-border text-l font-bold text-white w-10 flex justify-center items-center aspect-[4/5] rounded-md mx-0.5'
        >
          F
        </div>
        <div
          class='bg-yellow-500 uppercase box-border text-l font-bold text-white w-10 flex justify-center items-center aspect-[4/5] rounded-md mx-0.5'
        >
          G
        </div>
        <div
          class='bg-zinc-400 uppercase box-border text-l font-bold text-white w-10 flex justify-center items-center aspect-[4/5] rounded-md mx-0.5'
        >
          H
        </div>
        <div
          class='bg-zinc-400 uppercase box-border text-l font-bold text-white w-10 flex justify-center items-center aspect-[4/5] rounded-md mx-0.5'
        >
          J
        </div>
        <div
          class='bg-zinc-400 uppercase box-border text-l font-bold text-white w-10 flex justify-center items-center aspect-[4/5] rounded-md mx-0.5'
        >
          K
        </div>
        <div
          class='bg-zinc-400 uppercase box-border text-l font-bold text-white w-10 flex justify-center items-center aspect-[4/5] rounded-md mx-0.5'
        >
          L
        </div>
      </div>
      <div class='flex justify-center mb-1'>
        <div
          class='bg-zinc-400 uppercase box-border text-l font-bold text-white px-2 flex justify-center items-center rounded-md mx-0.5'
        >
          ENTER
        </div>
        <div
          class='bg-zinc-400 uppercase box-border text-l font-bold text-white w-10 flex justify-center items-center aspect-[4/5] rounded-md mx-0.5'
        >
          Z
        </div>
        <div
          class='bg-zinc-400 uppercase box-border text-l font-bold text-white w-10 flex justify-center items-center aspect-[4/5] rounded-md mx-0.5'
        >
          X
        </div>
        <div
          class='bg-zinc-400 uppercase box-border text-l font-bold text-white w-10 flex justify-center items-center aspect-[4/5] rounded-md mx-0.5'
        >
          C
        </div>
        <div
          class='bg-zinc-400 uppercase box-border text-l font-bold text-white w-10 flex justify-center items-center aspect-[4/5] rounded-md mx-0.5'
        >
          V
        </div>
        <div
          class='bg-zinc-400 uppercase box-border text-l font-bold text-white w-10 flex justify-center items-center aspect-[4/5] rounded-md mx-0.5'
        >
          B
        </div>
        <div
          class='bg-zinc-400 uppercase box-border text-l font-bold text-white w-10 flex justify-center items-center aspect-[4/5] rounded-md mx-0.5'
        >
          N
        </div>
        <div
          class='bg-zinc-400 uppercase box-border text-l font-bold text-white w-10 flex justify-center items-center aspect-[4/5] rounded-md mx-0.5'
        >
          M
        </div>
        <div
          class='bg-zinc-400 uppercase box-border text-l font-bold text-white px-2 flex justify-center items-center rounded-md mx-0.5'
        >
          DEL
        </div>
      </div>
    </div>

    {{outlet}}
  </div>
</div>